.dropdwon-container1{
    display: inline;
    position:relative;
}
.dropdwon-content1{
    position: absolute;
    top: 28px;
    right: 0px;
    background-color: rgb(90, 85, 85, 0.10);
    text-align: left;
    display: none;
    padding: 20px;
    border-radius: 5px;
}

.dropdwon-container1:hover .dropdwon-content1{
    display:block;
    background-color: rgb(241, 58, 58);
}
.dropdwon-content1 a{
    display: block;
    margin: 3px;
   border-radius: 2px;
   color: white;
   padding: 5px 10px;


}
.dropdwon-content1 a:hover{
    background-color: gray;
    margin: 2px;
    color: white;
   
}